{
   "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "ignorePatterns": ["node_modules", "dist", "build"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:react/jsx-runtime",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "prettier", "import", "jsx-a11y"],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/label-has-associated-control": 0,
    "linebreak-style": [0, "unix"],
    "quotes": ["error", "single"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "react/state-in-constructor": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "import/order": [
      2,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ]
  },
  "settings": {
    "version": "detect",
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}